*{
    margin:0;
    padding: 0;
}
.gameArea{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(39, 68, 150);
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.fullImage{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

.keyboardArea{
    display: flex;
    width: 80rem;
    height: 10rem;
    border-radius: 1rem;
    background-color: rgb(255, 106, 87);
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.keyArea{
    display: flex;
    border-radius: 1rem;
    height: 90%;
    width: 8rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: rgb(69, 69, 69); 
    box-shadow: 1px 7px 5px 5px rgba(0,0,0,0.75);
}

.aboutArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 8rem;
    border-radius: 1rem;
    background-color: white;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button{
    height: 6rem;
    width: 15rem;
    border-radius: 2rem;
    background-color: white;
    display: none;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2rem;

    /*position: absolute;*/
}
.button:hover {
    transform: scale(1.1);
    transition: .5s;
  }
